---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Button from '~/components/ui/Button.astro';
import Prices from '~/components/widgets/Pricing.astro';
import CookieBanner from '~/components/CookieBanner.astro';
import Portfolio from '~/components/Portfolio.astro';

const metadata = {
  title: 'Weird Beard IT - Dead Good Microsoft SharePoint Solutions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="The Beard Strikes Back"
    actions={[
      {
        variant: 'primary',
        text: "Let's Talk",
        icon: 'tabler:message-dots',
        href: '#contact',
      },
      { text: 'Learn more', icon: 'tabler:circle-arrow-down', href: '#solutions' },
    ]}
    image={{ src: '~/assets/images/WEIRD-BEARD-IT.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white">Dead Good SharePoint Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      <!-- HIDDEN  <span class="hidden sm:inline"> -->
      <span
        >We supercharge SharePoint with a no‑nonsense consulting approach that delivers creative, simple solutions to
        boost productivity and transform collaboration. Ready to take your SharePoint to the next level?</span
      >
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="solutions"
    isReversed
    tagline="SOLUTIONS"
    title="Level Up Your SharePoint"
    subtitle="A focused suite of SharePoint solutions that turn complex business needs into easy‑to‑use platforms."
    items={[
      {
        title: 'Centralised Communication',
        description:
          'Company news, updates and announcements in one place, enhanced with Microsoft 365 tools like Viva Connections.',
      },
      {
        title: 'Tailored Design & Structure',
        description: 'Built around your workflows, branding and organisational goals.',
      },
      {
        title: 'Information Accessibility',
        description: 'Easy navigation and search to quickly find the resources and updates that matter.',
      },
    ]}
    image={{
      src: '~/assets/images/WEIRD-BEARD-IT-int.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Intranet Hub</h3>
      Comprehensive development of a customised intranet solution tailored to your organisation’s needs, enhancing internal
      communication and collaboration.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Custom‑Branded Experience',
        description: `Tailored to reflect your organisation’s identity and client needs.`,
      },
      {
        title: 'Direct Communication Channels',
        description: 'Central space for messages, updates and project discussions.',
      },
      {
        title: 'Effortless File Sharing',
        description: 'Easy, permission‑controlled access to documents and resources.',
      },
      {
        title: 'See How It Works',
        icon: 'tabler:brand-youtube-filled',
        description:
          '<a href="https://youtu.be/0sw9PSBu5EI" target="_blank" class="text-primary no-underline hover:underline inline-flex items-center gap-1">Demo: youtu.be/0sw9PSBu5EI</a>',
      },
    ]}
    image={{
      src: '~/assets/images/WEIRD-BEARD-IT-cli.jpg',
      alt: 'Client Portal',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Client Portal</h3>
      Development of a secure, branded portal that streamlines communication, document sharing and collaboration with clients.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Designed Around Your Team',
        description: 'Tailored layouts, tools and content to match each team’s unique needs.',
      },
      {
        title: 'Process Optimisation',
        description: 'Centralised access to workflows, forms and resources for faster task completion.',
      },
      {
        title: 'Improved Visibility',
        description: 'Clear oversight of departmental activities, priorities and performance metrics.',
      },
    ]}
    image={{
      src: '~/assets/images/WEIRD-BEARD-IT-dep.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Department Portal</h3>
      Creation of specialised SharePoint portals for individual departments, streamlining processes and improving operational
      efficiency.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Structured Organisation',
        description: `Logical folder structures and metadata for quick, accurate document retrieval.`,
      },
      {
        title: 'Version Control',
        description: 'Track changes and maintain a clear history of document updates.',
      },
      {
        title: 'Integrated Copilot Agents',
        description: 'AI‑powered search and guidance to quickly locate, summarise and manage documents.',
      },
    ]}
    image={{
      src: '~/assets/images/WEIRD-BEARD-IT-doc.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Document Management</h3>
      Implementation of a robust SharePoint‑based system to organise, store and manage documents efficiently across the organisation.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- EDIT: PORTFOLIO *************** -->

  <Portfolio
    id="showcase-solutions"
    tagline="SOLUTIONS"
    title="SharePoint Unleashed"
    subtitle="From dynamic design to powerful automation, we transform SharePoint into a platform that feels alive - because your digital workplace should inspire, not expire."
    items={[
      {
        title: 'Your Launchpad',
        image: '/images/portfolio/WEIRD-BEARD-IT-sp1.png',
      },
      {
        title: 'Goodbye Spreadsheets',
        image: '/images/portfolio/WEIRD-BEARD-IT-sp2.png',
      },
      {
        title: 'Organised By Design',
        image: '/images/portfolio/WEIRD-BEARD-IT-sp3.png',
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    id="more-solutions"
    tagline="SOLUTIONS"
    title="Explore More SharePoint Wonders"
    items={[
      {
        title: 'Info On-Demand',
        description:
          'Centralised Knowledge Base giving staff quick access to policies, guides and resources - reducing support requests and saving time.',
        icon: 'tabler:book',
      },
      {
        title: 'Mission Control',
        description:
          'SharePoint‑powered workspaces for planning, assigning and tracking projects - keeping teams aligned and deadlines on track.',
        icon: 'tabler:checkbox',
      },
      {
        title: 'Excel Amnesty',
        description:
          'Replace outdated spreadsheets with dynamic SharePoint Lists for cleaner data, easier collaboration and real‑time updates.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Process Power',
        description:
          'Streamline processes with digital forms and automated approvals, reducing manual effort and speeding up decision‑making.',
        icon: 'tabler:rocket',
      },

          {
        title: 'Next-Gen Migrations',
        description:
          'Smoothly transition from legacy systems or outdated environments into modern SharePoint online - with minimal disruption and maximum data integrity.',
        icon: 'tabler:cloud-up',
      },
            {
        title: 'Teams Reset',
        description:
          'Untangle the sprawl of unused channels, duplication and clutter. Ensuring Microsoft Teams stays a productive hub rather than a digital dumping ground.',
        icon: 'tabler:recycle',
      },
          ]}
  />

  <!-- Note Widget ******************* -->

  <Note
    title=""
    description='Looking for more than just SharePoint? We’ve got you covered with our <a href="#ateam" class="text-primary no-underline hover:underline inline-flex items-center gap-1">Trusted Tech Allies <svg xmlns="http://www.w3.org/2000/svg" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l3 3l8 -8" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg></a>'
  />

  <!-- ICON HERE -->

  <div class="flex items-center justify-center">
    <!-- Left line -->
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
    <img src="/images/WEIRD-BEARD-IT-light-G.png" alt="Divider" class="mx-4 h-15 w-auto" loading="lazy" />
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
  </div>

  <!-- Steps Widget ****************** -->

  <Steps
    id="training"
    tagline="TRAINING"
    title="Building Champions, <br>not just Solutions"
    subtitle="Delivering the solution is just the start - your nominated staff become trained SharePoint Champions, equipped to keep your platform thriving."
    items={[
      // EDIT
      {
        type: 'header',
        title: 'SharePoint Champion Training',
      },
      // EDIT

      {
        title: 'Level 1: <span class="font-medium">+100 XP</span>',
        description:
          'Join the project from day one, sit in on key meetings and participate in decision‑making to understand how solutions take shape.',
        icon: 'tabler:flag',
      },
      {
        title: 'Level 2: <span class="font-medium">+250 XP</span>',
        description:
          'Step behind the scenes to explore the build - uncovering site structures, settings and configurations that make SharePoint work.',
        icon: 'tabler:diamond',
      },
      {
        title: 'Level 3: <span class="font-medium">+500 XP</span>',
        description:
          'Gain the skills to update, edit and adapt the solution yourself, keeping your SharePoint relevant and effective long after go‑live.',
        icon: 'tabler:crown',
      },
    ]}
    image={{
      src: '~/assets/images/WEIRD-BEARD-IT-xp.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- ICON HERE -->

  <div class="flex items-center justify-center my-8">
    <!-- Left line -->
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
    <img src="/images/WEIRD-BEARD-IT-light-G.png" alt="Divider" class="mx-4 h-15 w-auto" loading="lazy" />
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
  </div>

  <!-- Pricing Widget ******************* -->

  <Prices
    tagline="HELP"
    id="support"
    title="SharePoint Support Subs That Have Your Back"
    subtitle="Remote support subscriptions offer direct access to SharePoint expertise through scheduled Teams meetings, ensuring you’re never on your own. With flexible weekly or monthly plans that keep your platform running smoothly, your team confident and your champions empowered."
    prices={[
      {
        title: 'DEVELOP',
        subtitle: 'Ongoing Maintenance Support',
        price: 29,
        period: 'per month',
        items: [
          {
            description: 'Maintain and optimise your installed SharePoint solutions.',
          },
          {
            description: 'Resolve issues before they disrupt work.',
          },
          {
            description: 'Receive proactive recommendations for improvements.',
          },
        ],
        callToAction: {
          text: 'Get started',
          href: '#contact',
        },
      },
      {
        title: 'DROP-IN',
        subtitle: 'Onboarding & User Guidance',
        price: 69,
        period: 'Per Month',
        items: [
          {
            description: 'Guide new and existing users through SharePoint features.',
          },
          {
            description: 'Share tips to boost efficiency and collaboration.',
          },
          {
            description: 'Answer “How‑do‑I” questions in real time.',
          },
        ],
        callToAction: {
          text: 'Get started',
          href: '#contact',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'CHAMPION',
        subtitle: 'SharePoint Champion Support',
        price: 199,
        period: 'Per Month',
        items: [
          {
            description: 'Provide advanced guidance for your SharePoint Champions.',
          },
          {
            description: 'Support solution evolution and customisation.',
          },
          {
            description: 'Share best practices for company‑wide adoption.',
          },
        ],
        callToAction: {
          text: 'Get started',
          href: '#contact',
        },
      },
    ]}
  />

  <!-- ICON HERE -->

  <div class="flex items-center justify-center">
    <!-- Left line -->
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
    <img src="/images/WEIRD-BEARD-IT-light-G.png" alt="Divider" class="mx-4 h-15 w-auto" loading="lazy" />
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
  </div>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="The Burning Questions"
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Do we need SharePoint already installed?',
        description:
          'No. Support is available whether starting from scratch or enhancing an existing setup. For those without SharePoint, guidance is provided on selecting the right plan, setting it up and tailoring it to specific needs.',
      },
      {
        title: 'Can you work with our existing SharePoint setup?',
        description:
          'Yes. Existing environments can be audited, customised and optismised without disrupting day‑to‑day operations, whether newly implemented or long‑established.',
      },
      {
        title: 'Do you offer training for our team?',
        description:
          'Yes. Tailored training is available for end‑users, administrators and nominated SharePoint Champions, ensuring teams can confidently use and manage solutions long after go‑live.',
      },
      {
        title: 'How long does a typical SharePoint project take?',
        description:
          'Timelines vary depending on scope. Smaller projects may be completed in weeks, while larger, more complex builds can take several months. A clear schedule is provided following the initial discovery session.',
      },
      {
        title: 'Do you offer remote consultancy?',
        description:
          'Yes. Consultancy is delivered entirely remotely, enabling collaboration with clients anywhere in the world and ensuring flexible, efficient project delivery.',
      },
      {
        title: 'How weird is your beard?',
        description:
          'It’s only weird if you stare at it. Otherwise, it’s just quietly plotting a pilot episode of a Netflix series nobody asked for.',
      },
    ]}
  />

  <!-- ICON HERE -->

  <div class="flex items-center justify-center">
    <!-- Left line -->
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
    <img src="/images/WEIRD-BEARD-IT-light-G.png" alt="Divider" class="mx-4 h-15 w-auto" loading="lazy" />
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
  </div>

  <!-- Features2 Widget EDIT: Team ************** -->

  <Features2
    id="team"
    title="Behind The Beard"
    tagline="Team"
    columns={2}
    items={[
      {
        title: 'Anthony',
        tagline: 'Digital Solutions & SharePoint Specialist',
        description:
          'I’ve spent over two decades helping UK organisations turn tech ideas into real‑world results. From shaping big‑picture strategies to rolling out creative, user‑friendly solutions. I’m all about making technology work smarter for people and businesses. Did I mention I love SharePoint?',
        image: '/images/WEIRD-BEARD-IT-a1.jpg',
        socialLinks: [
          { ariaLabel: 'LinkedIn', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/anthonywithah' },
          { ariaLabel: 'Site', icon: 'tabler:user-square-rounded', href: 'https://anthonywithah.github.io' },
        ],
      },
      {
        title: 'Anna',
        tagline: 'Design & UX Advisor',
        description:
          'I’m a graphic designer with a background in design and animation, which means I know how to make things look good and feel right. I provide guidance on design direction, ensuring each project’s final look and feel is polished and professional.',
        image: '/images/WEIRD-BEARD-IT-a2.jpg',
        socialLinks: [
          { ariaLabel: 'LinkedIn', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/annabannabee' },
          { ariaLabel: 'LinkedIn', icon: 'tabler:brand-instagram', href: 'https://www.instagram.com/designsbyannalouise' },
        ],
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="ateam"
    title="The MS365 A-Team"
    subtitle="When the project calls for it, we collaborate with our Trusted Tech Allies - a proven network of Microsoft 365 experts to expand your capabilities."
    tagline="TEAM"
    items={[
      {
        title: 'Azure',
        description: 'Scalable, secure cloud solutions that power your apps, data and infrastructure.',
        icon: 'tabler:brand-azure',
      },
      {
        title: 'Intune',
        description: 'Seamless device and app management to keep your team productive and your data protected.',
        icon: 'tabler:arrows-split',
      },
      {
        title: 'PowerBi',
        description: 'Transform raw data into interactive dashboards and insights that drive smarter decisions.',
        icon: 'tabler:chart-bar-popular',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- ICON HERE -->

  <div class="flex items-center justify-center">
    <!-- Left line -->
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
    <img src="/images/WEIRD-BEARD-IT-light-G.png" alt="Divider" class="mx-4 h-15 w-auto" loading="lazy" />
    <span class="h-px w-20" style="background-color: #3d3d3d;"></span>
  </div>

  <!-- CONTACT -->
  <ContactUs
    id="contact"
    tagline="CONTACT"
    title="Let’s Talk About Your SharePoint Project"
    subtitle="Ready to get things moving? Whether it’s a fresh build or the next big upgrade, this is where your SharePoint journey takes off."
    inputs={[
      { type: 'text', name: 'name', label: 'Name' },
      { type: 'text', name: 'company', label: 'Company', autocomplete: 'organization' },
      { type: 'email', name: 'email', label: 'Email' },
      {
        type: 'select',
        name: 'referrer',
        label: 'How did you hear about us? (optional)',
        options: [
          { value: '', label: 'Please select' },
          { value: 'search', label: 'Search Engine' },
          { value: 'linkedin', label: 'LinkedIn' },
          { value: 'friend', label: 'Friend' },
          { value: 'other', label: 'Other' },
        ],
      },
      { type: 'text', name: 'friendName', label: 'LinkedIn username', class: 'hidden' },
      { type: 'text', name: 'otherSource', label: 'Please specify', class: 'hidden' },
    ]}
    textarea={{ label: 'Message' }}
    extraInputs={[
      {
        type: 'select',
        name: 'referrer',
        label: 'How did you hear about us? (optional)',
        options: [
          { value: '', label: 'Please select' },
          { value: 'search', label: 'Search Engine' },
          { value: 'linkedin', label: 'LinkedIn' },
          { value: 'friend', label: 'Friend' },
          { value: 'other', label: 'Other' },
        ],
      },
      {
        type: 'text',
        name: 'friendName',
        label: 'Friend’s Name',
        class: 'hidden',
      },
      {
        type: 'text',
        name: 'otherSource',
        label: 'Please specify',
        class: 'hidden',
      },
    ]}
    description="Sit tight - A reply will be with you within 24 business hours or less."
  >
    <Fragment slot="buttons">
      <div class="mt-0 mb-8 flex flex-wrap justify-center gap-4">
        <Button
          href="https://www.linkedin.com/company/weirdbeardit"
          target="_blank"
          variant="primary"
          icon="tabler:brand-linkedin">Linkedin</Button
        >
        <!-- HIDDEN: <Button href="https://" target="_blank" variant="secondary" icon="tabler:brand-slack">Slack</Button> -->
      </div>
    </Fragment>
  </ContactUs>

  <!-- Cookie Banner (fixed position, so it floats at bottom) -->
  <CookieBanner />
</Layout>
