// Add your own custom styles here

.partner-logos-wrapper {
  width: 100%; /* Ensure it takes the full width */
  text-align: center; /* Center the content */
  padding: 1rem 0; /* Add padding to the section */
}

// social icons
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply flex items-center justify-center text-center leading-9 text-darkmode-light; // Use dark mode text color for both modes
      svg {
        width: 25px; /* Adjust size as needed */
        height: 25px; /* Adjust size as needed */
      }
      i {
        font-size: 25px; /* Adjust font size for FontAwesome icons */
      }
    }
  }
}

