{{ define "main" }}
  <!-- Banner -->

  <!-- /Banner -->

<!-- Features -->
{{ range $i, $e := .Params.features }}
  <section class="section-sm {{ if eq $i 0 }}bg-theme-light dark:bg-darkmode-theme-light{{ else if modBool $i 2 }}bg-theme-light dark:bg-darkmode-theme-light{{ end }}">
    <div class="container">
      <div class="row items-center justify-between">
        {{ if .image }}
          <div class="mb:md-0 {{ if not (modBool $i 2) }}md:order-2{{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
        {{ end }}
        <div class="{{ if not (modBool $i 2) }}md:order-1{{ end }} md:col-7 lg:col-6">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-8 text-lg">{{ .content | markdownify }}</p>

          <!-- Directly adding partner logos here -->
          <div class="partner-logos-wrapper">
            <ul class="social-icons">
              <li><img src="/images/coca.png" alt="Partner logo 1"></li>
              <li><img src="/images/coca.png" alt="Partner logo 2"></li>
              <li><img src="/images/coca.png" alt="Partner logo 3"></li>
              <li><img src="/images/coca.png" alt="Partner logo 4"></li>
            </ul>
          </div>
          <!-- End of partner logos -->

        </div>
      </div>
    </div>
  </section>
{{ end }}
<!-- /Features -->

  <!-- Testimonials -->

  <!-- /Testimonials -->
{{ end }}
